In [11]:
#1
#다음 코드를 실행해보고 예상한 결과와 맞는지 확인
a = "True"
b = 7289.895
c = int(b)
d = str(c)

#True 7289.895 7289 7289
#<class 'str'> <class 'float'> <class 'int'> <class 'str'>

print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

True 7289.895 7289 7289
<class 'str'> <class 'float'> <class 'int'> <class 'str'>

In [12]:
#2
# 변수 number에 자기 학번을 정수형(interger)으로 선언
# 변수 name에 자기 이름을 문자형(string)으로 선언
# name과 number를 형변환을 통해서 (number + name)을 출력(print 함수 이용)

number = 12180626
name = "성시열"
number = str(number)
print(number + name)

12180626성시열

In [13]:
#3
# kate, tom, emma, sophia의 시험 점수는 각각 100점, 81점, 93점, 67점 이다.
# 각 학생의 이름을 변수로 선언하고, 시험 점수를 정수형으로 입력
# average 라는 변수에 4명의 학생의 시험 평균 점수의 값을 입력
# average의 값과 average의 데이터 타입을 출력

kate = 100
tom = 81
emma = 93
sophia = 67

average = (kate + tom + emma + sophia) / 4
print(average)
print(type(average))

85.25
<class 'float'>

In [14]:
#4
a_k = 100
a_m = 72
a_e = 77
b_k = 94
b_m = 64
b_e = 58
c_k = 84
c_m = 97
c_e = 67
k_ever = (a_k + b_k + c_k) / 3
m_ever = (a_m + b_m + c_m) / 3
e_ever = (a_e + b_e + c_e) / 3
a_ever = (a_k + a_m + a_e) / 3
b_ever = (b_k + b_m + b_e) / 3
c_ever = (c_k + c_m + c_e) / 3


print(max(k_ever, m_ever, e_ever))

92.66666666666667

In [15]:
#5
# ''/’ 연산자는 나누기, ‘//’ 연산자는 몫, ‘%’ 연산자는
# 나머지를 나타내는 연산자이다. a = 13, b = 5 일 때, a / b,
# a // b, a % b 를 출력하라.

a = 13
b = 5
print(a/b, a//b, a%b)

# a 를 (b, a // b(몫), a % b(나머지)) 세 가지를 이용해서
# 나타내고, a를 출력하라.

a = b * (a//b) + (a%b)
print(a)

2.6 2 3
13

In [16]:
#6
daum_price = 89000
naver_price = 751000
total_price = (daum_price * 100) + (naver_price * 20)
print(total_price)

23920000

In [17]:
#7
new_daum_price = daum_price - (daum_price * 0.05)
new_naver_price = naver_price - (naver_price * 0.1)
new_total_price = (new_daum_price * 100) + (new_naver_price * 20)
loss = total_price - new_total_price
print(loss)

1947000.0

In [18]:
#8
apple = 13
tomato = 24
name1 = "Bill"
total_fruits = apple + tomato
print("we have %d tomatos" %tomato)
print("apple + tomato is %d" %total_fruits)
print("my name is %s . nice to meet you" %name1)

we have 24 tomatos
apple + tomato is 37
my name is Bill . nice to meet you

In [19]:
#9
F = 50
C = (F - 32) / 1.8
print(C)

10.0

In [20]:
#10
x1 = 100
y1 = 100
print(id(x1),id(y1))

x2 = 300
y2 = 300
print(id(x2),id(y2))

# 정수값은 메모리를 효율적으로 사용하기 위해
# 256이하의 같은 값이면 할당된 하나의 주소를 사용함.
# 그보다 큰 값은 변수한 하나의 주소가 할당된다.

1505613469136 1505613469136
1505693217040 1505693217072

In [21]:
#11
major = input("학과를 입력하세요 :")
stu_num = input("학번을 입력하세요 :")
name = input("이름을 입력하세요 :")
print("학과 : %s 학번 : %s 이름 : %s" %(major, stu_num, name))

학과를 입력하세요 :산업경영공학
학번을 입력하세요 :12180626
이름을 입력하세요 :성시열
학과 : 산업경영공학 학번 : 12180626 이름 : 성시열

In [22]:
#12
name = "Tom"
age = 23
department = "finance"
print("Name : %s, Age : %d, Department : %s" %(name, age, department))

Name : Tom, Age : 23, Department : finance

In [23]:
#13
agreement = 245684
opposite = 152444
agree_percent = (agreement / (agreement + opposite) ) * 100
print("""찬성의 득표수는 {1:6d} 표이고, 반대의 득표수는 {2:6d} 표이다.
그리고 총 찬성득표비율은 {0:.5f}%이다. """.format(agree_percent, agreement, opposite))

찬성의 득표수는 245684 표이고, 반대의 득표수는 152444 표이다.
그리고 총 찬성득표비율은 61.70980%이다.

In [9]:
#14
num_list = [1,2,3,4,5,6,7,8,9,10]
print(num_list[3], num_list[8])
print(len(num_list))

4 9
10

In [10]:
#15
new_list = num_list[::-1]
print(new_list)
print(new_list[0:7:2])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4]

In [7]:
#16
name1 = ['도윤', '하준', '서준', '시우', '민준']
name2 = ['하윤', '서윤', '서연', '하은', '지유']
new_name = name1 + name2
new_name[3] = '준우'
new_name[7] = '수아'
new_name.insert(0, '지호')
new_name.remove('하은')
new_name.remove('지유')
print(new_name)

['지호', '도윤', '하준', '서준', '준우', '민준', '하윤', '서윤', '수아']

In [6]:
#17
Brooke = [67, 50, 94]
Lydia = [88, 48, 55]
Stella = [69, 66, 76]
Lucy = [95, 78, 68]
score = [Brooke, Lydia, Stella, Lucy]
print(score[1][2], score[3][1])

55 78

In [24]:
num = int(input('1부터 10까지의 숫자를 입력해주세요 :'))
while num > 10 or num < 1:
    num = int(input('1부터 10까지의 숫자를 입력해주세요 :'))

if num%2==0:
    print("이 수는 짝수입니다.")
    if num < 5:
        print("이 수는 5보다 작은 수 입니다.")
    elif num == 5:
        print("이 수는 5입니다.")
    else:
        print("이 수는 5보다 큰 수 입니다.")
else:
    print("이 수는 홀수입니다.")
    if num < 5:
        print("이 수는 5보다 작은 수 입니다.")
    elif num == 5:
        print("이 수는 5입니다.")
    else:
        print("이 수는 5보다 큰 수 입니다.")

1부터 10까지의 숫자를 입력해주세요 :0
1부터 10까지의 숫자를 입력해주세요 :11
1부터 10까지의 숫자를 입력해주세요 :5
이 수는 홀수입니다.
이 수는 5입니다.

In [4]:
#19
num = int(input('1부터 9까지의 숫자를 입력해주세요 :'))
while num > 9 or num < 1:
    num = int(input('1부터 9까지의 다시 숫자를 입력해주세요 :'))

for i in range(1,10):
    result = int(num)*i
    print("%s * %d = %d" %(num, i, result))

1부터 9까지의 숫자를 입력해주세요 :0
1부터 9까지의 다시 숫자를 입력해주세요 :10
1부터 9까지의 다시 숫자를 입력해주세요 :5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [5]:
#20
num = int(input("몇 개를 출력 할까요 :"))
list_a = [1,1]

for i in range(2,num):                        #i는 더해서 구해지는 값의 index
    list_a.append(list_a[i-2]+list_a[i-1])    #i=2일 때 a[2-2=0]+a[2-1=1]=a[2]

print(list_a)

몇 개를 출력 할까요 :10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]